#div1, #div2, #div3 {
    padding: 20px;
    margin: 15px;
    border:15px solid #000000;
    border-radius: 15px;
    width: 20%;
    align-self: center;
    text-align: center;
}

#div1 {
    background-color: #9d0fab;
}
#div2 {
    background-color: #ab0f0f;
}
#div3 {
    background-color: #0a9310;
}

.flex-container {
    display: flex;
}

@media only screen and (max-width:600px) {
    .flex-container {
        background-color: #524335;
        flex-direction: column;
    }
}

#box-shadow {
    border-radius: 1.5rem;
    color: #fff;
    background-color: #524335;
    box-shadow: 0 0.2rem #000000;
    width: 7.5rem;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
}
#h1-skygge {
    text-shadow: 0 0.2rem #000000;
}